version: '3.8'

services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    image: frontend:latest  # Use the built image
    restart: always
    depends_on:
      - db
    environment:
      POSTGRES_SERVER: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: app_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "8000:8000"
    command: ["fastapi", "run", "--host", "0.0.0.0", "--port", "8000", "app/main.py"]

volumes:
  postgres_data: